/app/public/wp-admin
/app/public/wp-content/plugins
/app/public/wp-includes
/app/public/wp-content/themes/twenty*
/conf
/logs
app/public/wp-*
!app/public/wp-content
app/public/.htaccess
app/public/license.txt
app/public/local-xdebuginfo.php
app/public/readme.html
app/public/xmlrpc.php