/* Forms */
#container {
  max-width:1000px;
  margin: 0 auto !important;
}
.req {
  background-image: url('img/form-req.png');
  background-size:5px;
  background-repeat:no-repeat;
  background-position:0 0;
  display: inline-block!important;
  margin:0 8px;
  height:5px;
  width:5px;
  text-indent:-9999em;
}

label,
.wufoo label.desc,
.wufoo legend.desc {
  cursor:pointer;
  margin:0 0 6px !important;
  font-family:"brandon-grotesque", sans-serif !important;
  font-size:18px !important;
  font-weight:700 !important;
  line-height:1 !important;
  text-transform: uppercase !important;
}
.wufoo li label span {
  font-size: 20px;
  font-weight:300!important;
  text-transform: none!important;
  line-height:150%;
}
input[type=text],
input[type=phone],
input[type=email],
input[type=password],
.wufoo textarea {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  border:#d5d5d5 1px solid!important;
  background:#fff!important;
  height:40px;
  padding:0 14px;
  font-size:16px!important;
  color:#666!important;
}
div.selectize-input input {
  border:0 !important;
}
.wufoo textarea {
  padding:14px!important;
  height:220px;
}

/* Hide certain elements */
.wufoo .info {
  border:none!important;
  padding:0!important;
}
.wufoo .info h2,
#title14 {
  display:none!important;
}
.wufoo .info div {
  text-align: right;
  padding:0 0 16px;
}
.wufoo .info div .tar {
  display: inline-block!important;
  font-size:18px!important;
  text-align:right!important;
}
.wufoo .info div .req {
  color:#fff!important;
  text-align:left!important;
}

.wufoo li,
.wufoo input,
.wufoo textarea,
.wufoo select {
  width:100%;
}

.wufoo select,
.safari .wufoo select.select {
  font:normal 16px 'brandon-grotesque' sans-serif!important;
}
.wufoo input[type=radio],
.wufoo input[type=checkbox] {
  width:auto!important;
}
form li.error,
.wufoo li {
  padding:0!important;
  margin:0 0 40px!important;
}
.wufoo .buttons {
  margin:0!important;
}
.wufoo li.focused {
  background:none!important;
}
form li.buttons input {
  width:auto!important;
}
form li.error {
  background:none!important;
}
form li.error p.error,
form li.error .desc {
  color:#cc2823!important;
}
form li.error input {
  border:#cc2823 1px solid!important;
  background:#fff4f4!important;
}
#fo4li114 div {
  overflow: hidden;
}
#fo4li114 div > span {
  display:block!important;
  float:left!important;
  margin:0 20px 0 0!important;
  width: 70px;
}
#fo4li114 div > span label,
#fo4li114 div > span input {
  clear:none!important;
  display:block!important;
  float:left!important;
  margin:0 8px 0 0!important;
  text-align:left;
  width:24px!important;
}
#fo4li114 div > span input {
  margin:4px 8px 0 0!important;
  width:16px!important;
}
#fo4li14 div > span label,
#fo4li14 div > span input {
  clear:none!important;
  display:inline-block!important;
  text-align:left;
}
#fo4li14 div > span input {
  margin:2px 10px 0 0!important;
  width:16px!important;
}

#saveForm {
  -webkit-transition:background-color 250ms;
  -moz-transition:background-color 250ms;
  -ms-transition:background-color 250ms;
  transition:background-color 250ms;
  background-color: #2e3038!important;
  border: none!important;
  color: #fff!important;
  padding:17px 28px 15px!important;
  display: inline-block!important;
  text-decoration: none!important;
  line-height: 1!important;
  font-weight: 500!important;
  text-transform: uppercase!important;
  cursor: pointer!important;
}
#saveForm::after {
  background-image:url("img/arrow-right-white.png")!important;
  background-size: 4px auto!important;
  display: inline-block!important;
  width: 4px!important;
  height: 8px!important;
  vertical-align: top!important;
  text-indent: -9999px!important;
}
#saveForm:hover {
  background-color: #464851!important;
}

/* iOS Over-rides */
input:not([type=checkbox],[type=radio]),
textarea {
  -webkit-appearance: none;
}
input:not([type=checkbox],[type=radio]),
textarea,
select {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  border-radius: 0;
}
td var{display:none !important;}
td.t b{font-size:13px !important; text-transform:uppercase; text-align:center !important;}
.paging-context table{
  background-color:#f5f5f5 !important;
  padding: 15px 10px;
  border-top:1px solid #dfdfdf !important;
  border-bottom:1px solid #dfdfdf !important;
}
.pgStyle1 td{text-align:center;}
.wufoo .paging-context{border:0 !important;}
.wufoo input.btTxt.submit{
  padding:8px 12px;
  background-color:#000;
  font-size: 14px;
  font-weight:300;
  color:#fff;
  border:0;
  text-transform:uppercase;
}
.wufoo input.btTxt.submit:hover{
  cursor: pointer;
  background-color:#212121;
}
span label{
 // font-size:12px !important;
}
td.selected+td.t b{
  color: #AF2824;
}
td.done+td.t b{
  color: #999;
}
#container {max-width:100% !important;}
select.field.small{width:100px !important;}
select.field.medium{width:200px !important;}

form li.section h3{
  font-size: 28px !important;
  text-transform:uppercase !important;
  padding-left:0 !important;
}

  .wufoo span.subfield input, .wufoo span input.field.radio{
    width:auto !important;
    float: none !important;
    display:inline !important;
  }
  .wufoo span.subfield label, .wufoo span label.choice{
    width:auto !important;
    float: none !important;
    display:inline !important;
  }

.pgStyle1 b {
  text-transform:uppercase !important;
  font-size:100% !important;
}
.pgStyle1 .selected b{
  color: #AF2824;
}
#ccSection{
  background-color:#f5f5f5 !important;
}
#ppSection, #ccSection, #invoiceSection{
  padding:20px 0 !important;
}
#ccSection.complex {
  padding: 20px 0 !important;
}
#errorLi, .error-container{
  border-radius: 0 !important;
  padding:20px !important;

}
#errorMsgLbl {

}
@media screen and (min-width:768px){

  input.small {
    max-width:200px!important;
    width:auto!important;
  }
  input.medium {
    max-width:300px!important;
    width:auto!important;
  }
  select.medium,.selectize-control.medium{
    max-width:360px!important;
  }

  select.small, .selectize-control.small{
    max-width:220px !important;
  }
  #fo4li118,
  #fo4li9,
  /* .wufoo li, */

  #payment.wufoo ul li{
    width:100% !important;
  }
  #fo4li118,
  #fo4li9 {
    clear:none!important;
    float:left!important;
    margin:0 4% 40px 0!important;
  }
  #fo4li118 input,
  #fo4li9 input {
    width:100%!important;
  }
  #fo4li9 {
    margin:0 0 40px!important;
  }
  form li.buttons input {
    width:auto!important;
  }
  #form2 .wufoo textarea {
    height:280px;
  }


}
form ul::after, form li::after, form li div::after{
    visibility: visible;
    content:"";
  }
  .selectize-input input{
    height:30px;
  }
  .wufoo section{
    padding:0;
  }
  .wufoo .hide{
    position:absolute;
    height:0px;
    width:1px;
    overflow: hidden;
    border:0px !important;
  }

  button {
    background-color:#000;
    color:#fff;
    padding: 12px 25px;
    font-size:16px;
    text-transform:uppercase;
    border:0;
    font-family: "brandon-grotesque",​serif;
    cursor:pointer;
  }
  .formmenu {
    text-align:center;
    width:100%;
    position:relative;
    border-bottom:1px solid #efefef;
  }
  .formmenu li{
    display: inline-block;
    text-transform:uppercase;
    font-family: "brandon-grotesque",​serif;
    font-size:16px;
    padding: 10px 20px;
    margin:0 5px;
    font-weight:500;
    border:1px solid #efefef;
    border-bottom:0px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background-color:#fff;
    position:relative;
  }

  .formmenu li.active{
    color:#CC2823;
    top:1px;
    padding-top:11px;
  }
  .wufoo label.error{
    text-transform:none !important;
    padding-left:0;
    font-weight: 400 !important;
  }
  .wufoo textarea.error {
    border:1px solid #df0000 !important;
  }
  #errorpages {
    margin-bottom: 15px;
  }
  #errorpages li{
    margin-bottom:0 !important;
    color: #df0000;
    font-size:14px !important;
    font-weight:400 !important;
  }
  .checkboxes{
    display:inline-block;
    margin-right:20px;
  }
  .checkboxes input{
    margin-right:10px;
  }
  .checkboxes .subfield{display:block; float:none;}
  .picker__header select {
    padding:0;
  }

/* additional wufoo items */

  form ul::after, form li::after, form li div::after{
    visibility: visible;
    content:"";
  }
  .selectize-input input{
    height:30px;
  }
  .wufoo section{
    padding:0;
  }
  .wufoo .hide{
    position:absolute;
    height:0px;
    width:1px;
    overflow: hidden;
    border:0px !important;
  }

  button {
    background-color:#000;
    color:#fff;
    padding: 12px 25px;
    font-size:16px;
    text-transform:uppercase;
    border:0;
    font-family: "brandon-grotesque",​serif;
    cursor:pointer;
  }
  .formmenu {
    text-align:center;
    width:100%;
    position:relative;
    border-bottom:1px solid #efefef;
  }
  .formmenu li{
    display: inline-block;
    text-transform:uppercase;
    font-family: "brandon-grotesque",​serif;
    font-size:16px;
    padding: 10px 20px;
    margin:0 5px;
    font-weight:500;
    border:1px solid #efefef;
    border-bottom:0px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background-color:#fff;
    position:relative;
  }

  .formmenu li.active{
    color:#CC2823;
    top:1px;
    padding-top:11px;
  }
  .wufoo label.error{
    text-transform:none !important;
    padding-left:0;
    font-weight: 400 !important;
  }
  .wufoo textarea.error {
    border:1px solid #df0000 !important;
  }
  #errorpages {
    margin-bottom: 15px;
  }
  #errorpages li{
    margin-bottom:0 !important;
    color: #df0000;
    font-size:14px !important;
    font-weight:400 !important;
  }
  .checkboxes{
    display:inline-block;
    margin-right:20px;
  }
  .checkboxes input{
    margin-right:10px;
  }
  .checkboxes .subfield{display:block; float:none;}
  .picker__header select {
    padding:0;
  }
  #reservation {
    display:inline-block;
    max-width: 1000px;
    text-align:left;
  }

  .selectize-input.items.not-full.has-options input{
    width: 100%!important;
  }
/* .Field133 {display:block; font-face:"brandon-grotesque";font-weight:100; font-size:14px;} */
