  /* SCott's Over-rides */
  .centered-content {
    padding:0 19%;
    & h1 {
      font-weight:500;
      font-size:28px;
      line-height:1.4;
      margin:0 0 26px;
    }
    & h2 {
      margin:0 0 18px;
      font-weight:600;
    }
  }