
  input.large {
    width:50%;
  }
  .bj-post figure {
    text-align: left;
    margin: 0 24px 24px 0;
    clear: both;
  }
  .bj-post figcaption {
    text-align: left;
  }
  .bj-post img.alignleft {
    margin:0 30px 30px 0;
  }
  .bj-post img.alignright {
    margin:0 0 30px 30px;
  }
  .bj-post p {
    font-size:22px;
    line-height:32px;
  }
